In [ ]:
import mysql.connector
from dotenv import load_dotenv
import os

load_dotenv()

db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
db_host = os.getenv("DB_HOST")
print(db_host)
# MariaDB 연결 설정
config = {
    'user': db_user,
    'password': db_password,
    'host': db_host,
    "port": 3306,
    "database": "S09P22A301",  
}

# MariaDB 연결
connection = mysql.connector.connect(**config)

# SQL 쿼리 실행
cursor = connection.cursor()
# cursor.execute(f"GRANT FILE ON *.* TO {db_user}@'localhost';")
connection.commit()
tables = cursor.fetchall()
# 테이블 목록 출력
print(len(tables))
for table in tables:
    print(table[0]+"\n")

# 연결 종료
cursor.close()
connection.close()

In [5]:
import mysql.connector
from dotenv import load_dotenv
import os

load_dotenv()

db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
db_host = os.getenv("DB_HOST")
print(db_host)
# MariaDB 연결 설정
config = {
    'user': db_user,
    'password': db_password,
    'host': db_host,
    "port": 3306,
    "database": "S09P22A301",  
}

# MariaDB 연결
connection = mysql.connector.connect(**config)

# SQL 쿼리 실행
cursor = connection.cursor()
cursor.execute(f"GRANT FILE ON *.* TO S09P22A301@stg-yswa-kr-practice-db-master.mariadb.database.azure.com;")
connection.commit()
tables = cursor.fetchall()
# 테이블 목록 출력
print(len(tables))
for table in tables:
    print(table[0]+"\n")

# 연결 종료
cursor.close()
connection.close()

stg-yswa-kr-practice-db-master.mariadb.database.azure.com

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '-yswa-kr-practice-db-master.mariadb.database.azure.com' at line 1

# data test

In [13]:
# MariaDB 연결
connection = mysql.connector.connect(**config)

# SQL 쿼리 실행
cursor = connection.cursor()
cursor.execute('select count(*) from player;')

players = cursor.fetchall()
# 테이블 목록 출력
print(players)

# 연결 종료
cursor.close()
connection.close()

[(20502,)]

In [ ]:
# MariaDB 연결
connection = mysql.connector.connect(**config)

# SQL 쿼리 실행
cursor = connection.cursor()
cursor.execute('select * from fielding WHERE PLAYER_ID = 660271 AND SEASON=2023')

f = cursor.fetchall()
# 테이블 목록 출력
print(f)
# 연결 종료

connection.commit()
cursor.close()
connection.close()

In [ ]:
# MariaDB 연결
connection = mysql.connector.connect(**config)

# SQL 쿼리 실행
cursor = connection.cursor()
cursor.execute('''
               SHOW COLUMNS FROM fielding LIKE 'position';
               ''')

players = cursor.fetchall()
# 테이블 목록 출력
print(players)
# 연결 종료
cursor.close()
connection.close()